{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex03: Color Shades Table</title>
    <link rel="stylesheet" href="{% static 'css/ex03/style.css' %}">
</head>
<body>
    <div class="header">
        <h1>Color Shades Table</h1>
        <p>Different shades of black, red, blue and green.</p>
    </div>
    
    <table>
        <thead>
          <tr>
            {% for color_name in color_names %}
                <th>{{ color_name }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for line in colors %}
            <tr>
            {% for color in line %}
                <td style="background-color: {{ color }};"></td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
