{% extends 'base.html' %}
{% load static %}

{% block title %}Account{% endblock %}

{% block content %}
<div class="container mt-4">
    {% if not request.user.is_authenticated %}
        <div class="container mt-4">
            <h1 class="text-center mb-4">Login</h1>
            <div class="d-flex justify-content-center">
                <div class="form-container mt-4" style="max-width: 500px; width: 100%;">
                    <form id="login-form" method="post">
                        {% csrf_token %}
                        <div id="form-errors" class="text-danger mt-3 text-center"></div>
                        <div class="form-group">
                            {% for field in form %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" value="{{ field.value|default_if_none:'' }}" class="form-control" {% if field.field.required %}required{% endif %}>
                                    {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-light w-100">Login</button>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h2 class="mt-4 text-center">Create or Enter a Room</h2>
                    <div class="input-group mb-4">
                        <input id="room-name-input" type="text" class="form-control" placeholder="Enter room name">
                        <div class="input-group-append">
                            {% csrf_token %}
                            <button id="room-name-submit" class="btn btn-light">Enter</button>
                        </div>
                    </div>
                    <h1 class="my-4 text-center">Available Chat Rooms</h1>
                    <ul class="list-group">
                        {% for room in rooms %}
                            <li class="list-group-item text-center">
                                <a href="{% url 'chat:room' room.name %}" class="text-muted">{{ room.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <script src="{% static 'js/chat/index.js' %}"></script>
    {% endif %}
</div>

<script>
    var logoutUrl = "{% url 'account:logout' %}";
    var loginUrl = window.location.href;
</script>

<script src="{% static 'js/account.js' %}"></script>
{% endblock %}
