{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} 
    {% trans "Quick Reads - Publications" %}
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/articles.css' %}" />
{% endblock style %}

{% block content %}
<div class="table-responsive">
    <button class="btn btn-secondary btn-block" onclick="location.href='{% url 'app:publish' %}'">
        {% trans "Publish" %}
    </button>
    <br>
    {% if publications %}
        <table class="table articles-custom">
            <thead>
                <tr>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Synopsis" %}</th>
                    <th>{% trans "Created" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for publication in publications %}
                    <tr>
                        <td>{{ publication.title }}</td>
                        <td>{{ publication.synopsis|truncatechars:20 }}</td>
                        <td>{{ publication.created }}</td>
                        <td>
                            <a href="{% url 'app:details' publication.pk %}?referrer=publications" class="btn btn-info">
                                {% trans "Read" %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">
            {% trans "No publications posted yet!" %}
        </div>
    {% endif %}
</div>
{% endblock %}
