{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Quick Reads - Publish Article" %}{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">{% trans "Publish a New Article" %}</h1>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="form-group">
            <button type="submit" class="btn btn-info btn-block">{% trans "Publish" %}</button>
        </div>
        <div class="form-group">
            <a href="{% url 'app:publications' %}" class="btn btn-secondary btn-block">{% trans "Cancel" %}</a>
        </div>
    </form>
</div>
{% endblock content %}
