{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex09 Planets & People Display</title>
    <link rel="stylesheet" href="{% static 'css/ex09/style.css' %}">
</head>
<body>
    
    <div class="header">
        <h1>Ex09 Planets & People Display</h1>
        <p>Welcome to the planet and people database. Here you'll be able to see all the characters’ names, their homeworld as well as the climate, which is windy or moderately windy sorted in character’s name alphabetical order.</p>
    </div>
    
    <hr>
    
    {% if messages %}
        {% for message in messages %}
            <h3>{{ message }}</h3>
            {% if not forloop.last %}
                <br>
            {% endif %}
        {% endfor %}
        <hr>
    {% elif data %}
        <table>
            <thead>
                <tr>
                    <th>Character Name</th>
                    <th>Homeworld</th>
                    <th>Climate</th>
                </tr>
            </thead>
            <tbody>
                {% for name, homeworld, climate in data %}
                    <tr>
                        <td>{{ name }}</td>
                        <td>{{ homeworld }}</td>
                        <td>{{ climate }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No data available.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
    {% endif %}
    
</body>
</html>
