.base-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
    gap: 10px;
}
.base-header h1 {
    font-weight: 400;
    font-weight: light;
}

.base-header h3 {
    font-weight: 300;
    color: rgb(125, 125, 125);
}