body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #424242;
    font-family: 'Arial', sans-serif;
    font-size: 21pt;
    text-transform: uppercase;
    text-align: center;
    margin: 5px 0;
}

h2 {
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 5px 0;
}

h3 {
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 10pt;
    text-transform: uppercase;
    clear: both;
    margin: 0 0;
}

p, a {
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 10pt;
    text-align: center;
    text-decoration: none;
}

hr {
    color: black;
    width: 100%;
    margin: 10px 0;
}


strong {
    color: #424242;
    font-family: 'Arial', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

th, td {
    height: 40px;
    width: 80px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 0;
}


th {
    font-family: 'Arial', sans-serif;
    font-size: 12pt;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

td {
    font-family: 'Arial', sans-serif;
    font-size: 10pt;
}

thead th {
    background-color: #424242; /* Dark background for headers */
}

table {
    min-width: 320px;
}

.header {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}